{{!< default}}

<section class="archives">
  <a class="nav nav--black" href="{{@blog.url}}">
    <i class="fa fa-lg fa-arrow-left"></i>
    <span>Back to Posts</span>
  </a>
  {{#author}}
    <header class="archives__header">
      <span>{{name}}</span>
    </header>
    {{#get "posts" limit="all" filter="author:{{slug}}"}}
      <div class="section-padding archives__container">
        {{#foreach posts}}
          <article class="card">
            <a class="card__link" href="{{url}}">
              <div class="card__img">
                <figure class="absolute-bg wow" style="background-image: url('{{img_url profile_image}}');"></figure>
              </div>
              <div class="card__container">
                <h2 class="card__header">{{title}}</h2>
                <p class="card__count" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</p>
                <span class="card__more">Lire</span>
              </div>
            </a>
          </article>
        {{/foreach}}
      </div>
    {{/get}}
  {{/author}}
</section>
