{{!< default}}

<section class="previews">
  <div>
    {{#foreach posts}}
      <figure class="absolute-bg preview__img" style="background-image: url('{{img_url feature_image}}');"></figure>
    {{/foreach}}
    <div class="previews__container">
      <h1>{{@blog.title}} Blog</h1>
    </div>
  </div>

  <div>
    <header>
      <ul class="tabs">
        <li class="tabs__item">Posts</li>
        <li class="tabs__item">Tags</li>
      </ul>
    </header>

    <div class="tab">
      <ul>
        {{#foreach posts}}
          <li class="preview">
            <a class="preview__link" href="{{url}}">
              <span class="preview__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</span>
              <h2 class="preview__header">{{title}}</h2>
              <p class="preview__excerpt">{{excerpt words="30"}}...</p>
              <span class="preview__more">Lire +</span>
            </a>
          </li>
        {{/foreach}}
      </ul>

      {{pagination}}

      {{> "footer-page"}}
    </div>

    <div class="tab">
      {{#get "tags" limit="all" include="count.posts"}}
        <ul class="cards">
          {{#foreach tags}}
            {{#if count.posts}}
              <li class="card">
                <a class="card__link" href="/tag/{{slug}}/">
                  <div class="card__img">
                    {{#get "posts" filter="tags:{{slug}}" limit="1"}}
                      {{#foreach posts}}
                        <figure class="absolute-bg" style="background-image: url('{{img_url feature_image}}');"></figure>
                      {{/foreach}}
                    {{/get}}
                  </div>
                  <div class="card__container">
                    <h2 class="card__header">{{name}}</h2>
                    <p class="card__count">{{count.posts}} Posts</p>
                    <span class="card__more">Voir tout</span>
                  </div>
                </a>
              </li>
            {{/if}}
          {{/foreach}}
        </ul>
      {{/get}}

      {{> "footer-page"}}
    </div>

  </div>

</section>
