{{!< default}}

{{#post}}

<article>

  <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
    <a class="nav nav--white" href="{{@blog.url}}">
      <i class="fa fa-lg fa-arrow-left"></i>
      <span>Précédent</span>
    </a>
    <figure class="absolute-bg mast__img" style="background-image: url('{{img_url feature_image}}');"></figure>
    <div class="mast__container">
      <span><time datetime="{{date format="DD-MM-YYYY"}}">{{date format="DD/MM/YYYY"}}</time></span>
      <h1>{{title}}</h1>
      {{#if tags}}
        <span>
          {{#author}}
            <a href="{{url}}">{{name}}</a>
          {{/author}}
          in {{tags}}
        </span>
      {{/if}}
    </div>
  </header>

  <section class="section-padding bg-grey">
    <div class="post">
      {{content}}
    </div>
  </section>

  {{#author}}
    <section class="profile">
      <div class="profile__card">
        <div class="profile__img">
          <figure class="absolute-bg" style="background-image: url('{{img_url profile_image}}');"></figure>
        </div>
        <div class="profile__container">
          <p>{{bio}}</p>
          <ul class="profile__social">
            {{#if facebook}}
              <li><a class="fa fa-lg fa-facebook" href="{{facebook_url}}" target="_blank"></a></li>
            {{/if}}
            {{#if twitter}}
              <li><a class="fa fa-lg fa-twitter" href="{{twitter_url}}" target="_blank"></a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </section>
  {{/author}}

</article>

{{#prev_post}}
  <section class="next">
    <a class="next__link" href="{{url}}" style="background-image: url('{{img_url feature_image}}');">
      <div class="next__container">
        <span>Prochain post</span>
        <h2>{{title}}</h2>
      </div> 
    </a>
  </section>
{{/prev_post}}

{{/post}}
